<meta charset="UTF-8">
<style>
	div > p{
	margin: 10px;
	padding: 10px;
	bottom: 10px;
	font-family: 'Poor Story', cursive;
	}
	
</style>
<h1>특징</h1>
<div>
	    <p>생김새와는 다르게 얘도 한 성깔 하는 동물이니 괜히 만지면 안 된다. 당연히 물릴 경우 병원에서 주사 맞고 광견병
		검진을 받아야 한다. 아메리카너구리는 너구리처럼 국내에서도 애완용으로 키우는 사람이 꽤 많고 야생 개체가 사람을 먼저 공격하는
		일도 드물긴 하지만, 개나 다른 동물에겐 서슴없이 이를 들이대는 성깔을 가진 만큼 사람도 마냥 방심할 수는 없다. 체급의 한계
		때문에 사람에게 큰 데미지를 주지는 못하지만, 상술한 광견병 감염 위험이 있기도 하고 야생동물이 다 그러하듯 위생 상태가 썩
		청결하지 않기 때문에 여러 감염의 위험성이 있다.</p>
		<p>먹이를 물에 씻어 먹는 습성으로 인해 솜사탕을
		물에 담갔다가 녹아버리는 바람에 망연자실한 모습을 보인다. 인간이 얼마나 악랄한지 보여주는 영상이다 [7] 먹을 것을 물에
		씻어 먹는 습성은 라쿤의 주요 특징 중 하나이다. 아라이구마(洗い熊), 바슈베어(Waschbär) 등의 외국명[8]도 바로 이
		습성 때문에 붙게 된 것. 다만 씻는다는 표현은 사실 어폐가 있는데, 물속에서 양 발으로 굴려가며 표면을 문지르는 모습은
		영락없이 씻는 행동으로 보이지만 실제로는 씻는 것과는 거리가 멀다. 간단한 테스트만 해봐도 이 습성이 세척을 목적으로 하는
		것이 아님을 알 수 있는데, 깨끗하게 씻어 놓은 먹이와 흙탕물을 준비해 놓아도 흙탕물 속에 넣고 흙투성이로 만들어 먹는다.
		또한 주변에 물이 없는 경우에는 안 씻고도 얼마든지 먹으며 굳이 물을 찾으려 하지도 않는다. 결국 물이 없으면 얼마든지 안
		씻고 먹으며, 물이 있기만 하면 더럽든 더럽지 않든 일단 담가 비벼대고 본다. </p>
		<p>과학자들은 이를 라쿤의 선천적인 습성이 발현된
		것으로 보고 있다. 라쿤은 물가에서 사냥을 할때 섬세한 손가락(앞발가락)으로 물속을 더듬으며 수생동물을 찾는데, 이러한 일련의
		행동학적 특성이 유전자에 각인되어 있어 물만 보면 자연스레 씻는 행동으로 이어진다고 한다. 다시말해 일평생 인간에게 길러져
		사료만 받아먹고 물가에 가 본 적도, 물고기를 먹어 본 적도 없는 개체라도 먹이와 물을 준비해주면 라쿤의 입장에서는 조상
		대대로 내려온 사냥본성이 발현되어 일단 무조건 물속에 넣고봐야 직성이 풀린다는 것이다.</p>
		<p>상당히 높은 지능을 가지고 있을 것으로
		보인다. 라쿤이 주로 서식하는 미국 전역이나 캐나다 남부 지역에 있는 야생동물 퇴치 전문가나 방역회사를 호출하면 철장형의 덫을
		놓고 가는 경우가 있다. 안의 미끼를 올린 판을 라쿤이 건드리면 문이 닫혀 갇히게 되는 형태. 다만 여기에 갇히는 놈들은
		생면부지의 초짜들인 경우가 많다고 한다. 주택가에서 생존하는 비법을 터득한 몇몇 경험자들은 아예 근처에서 냄새만 맡고
		두리번거리며 돌아다니다 그냥 가버린다고. 텃밭에 펜스를 치고 문을 잠가두어도 문을 열고 들어오는 법도 알고, 다른 동물들이 못
		훔쳐가도록 과일 열매에다가 철망 같은 것을 달아 두어도 그걸 알아서 열고 잘 훔쳐먹는다. 대도시에서도 은근 라쿤이 많이
		돌아다닌다. 산에 설치된 트레일러캠에 찍힌 사진 중에는 라쿤 네 마리가 서로 등에 올라타 높은 곳에 걸린 미끼를 빼내려하는
		모습이 찍히기도 했다.</p>
</div>