<meta charset="UTF-8">
<script>
//jquery 이벤트 이용해서
function checkid(id) {
	$.ajax({
		url:'checkid',
		data:{'id':id},
		success:function(data){
		if(data == '1') { 
			$('#iid').text('사용가능 합니다.');
		}else {
			$('#iid').text('사용 불가능 합니다.');
		}
	  }
	});
};

$(document).ready(function () {
	$('input[name="id"]').keyup(function () {
		var id = $(this).val();
		//길이가 3자리 미만이면 span에 "3자리 이상이어야 합니다." 출력
		if (id.length < 3) {
		$('#iid').text('3자리 이상이어야 합니다.');
	  }else { //3자리 이상이면 서버에 전송
		  $('#iid').text('');
	  	  checkid(id); //checkid 를 통해 서버 전송해서 사용 가능 한 아이디인지 확인(ajax 통신)
	  }
	$('button').attr('disabled','disabled'); // 버튼을 비활성화	
	$('button').click(function () {	
		
		$('#register_form').attr({
			'action':'register_formimpl',
			'method':'post'
		}); 
		$('#register_form').submit(); 
		});	
		
		$('input[name="pwd2"]').keyup(function name() {
			var pwd = $('input[name="pwd"]').val();
			var pwd2 = $('input[name="pwd2"]').val();
			if(pwd == pwd2){
				$('#spwd2').text('일치합니다.');
				$('button').removeAttr('disabled'); // 값을 입력하면 disabled를 지워서 버튼 활성화
			}
			
		});

	});
	
	});

</script>

<h1>AJ03 Main</h1>
<button>GETDATA</button>
<form id="register_form">
ID<input type="text" name="id"><span id="iid"></span><br>
PWD<input type="password" name="pwd"><br>
PWD2<input type="password" name="pwd2"><span id="spwd2"></span><br>
<button >REGISTER</button>

</form>
