@charset "EUC-KR";

/* Global CSS start --------------------------------------*/
*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color:black;
}
ul,ol{
	list-style: none;
}
/* Global CSS end --------------------------------------*/

/* Header CSS start --------------------------------------*/
header{
	width:600px;
	height:100px;
	background: #8BBDFF;
	margin:0 auto;
}
header > h1{
	text-align: center;
	line-height: 100px;
	font-family: 'Caveat', cursive;
}
/* Header CSS end --------------------------------------*/

/* Nav CSS start --------------------------------------*/
nav{
	width:600px;
	height:30px;
	background: #C4DEFF;
	margin:0 auto;
}
nav > ul{
	width:500px;
	margin:0 auto;
	font-family: 'Caveat', cursive;
}
nav > ul >	li{
	float:left;
	width:125px;
	line-height: 30px;
}
nav > ul > li > a{
	display: block;
	text-align: center;
}
/* Nav CSS end --------------------------------------*/

/* Section CSS start --------------------------------------*/
section{
	width:600px;
	height:500px;
	background: #FAF4C0;
	margin:0 auto;
}
section  > .center{
	width: 550px;
	height: 450px;
	background: white;
	display: inline-block;
	margin: 25px;
}
/* Section CSS end --------------------------------------*/

/* Footer CSS start --------------------------------------*/
footer{
	width:600px;
	height:30px;
	background: black;
	margin:0 auto;
}
/* Footer CSS end --------------------------------------*/